ul {
	list-style-type: none;
}
a {
	background-color: #336699;
	color: #fff;
	display: block;
	width: 150px;
	padding: 5px 10px;
	text-decoration: none;
}
a:hover {
	background-color:#113366;
}
li {
   display: inline-block;
}
