.ui-progressbar {
  width: 500px;
   height: 20px;
   position: fixed;
   top: 50%;
   left: 50%;
   margin: -10px 0 0 -250px;
}
.progress-label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}


.sample_01{
width: 100%;
border-collapse: collapse;
}
.sample_01 th{
width: 25%;
padding: 6px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #a4e0a2;
border: 1px solid #b9b9b9;
}

.sumarry_table th{
width: 25%;
padding: 6px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #a4e0a2;
border: 1px solid #b9b9b9;
}


.sample_01 td{
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
}

.sumarry_table td{
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
}

#initstatus {
 background-color: #FFFFFF;
 color: #000000;
 -webkit-appearance: none;
 border: none;
}

#menu {
  width:530px;
  padding:0;
  margin:0;
  list-style-type: none;
}
#menu li {
  width:20%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}
#menu li a {
  width:auto;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#666;
}
#menu li a:hover {
  background:#555;
}
